[Unit]
Description=OctoPrint
After=network.target
Wants=network.target

[Service]
Type=simple
SyslogIdentifier=octoprint
ExecStartPre=-mkdir ~/.octoprint
ExecStartPre=-cp --no-clobber /etc/octorint/config.yaml ~/.octoprint/config.yaml
ExecStart=/bin/bash -c "JANUS_EDGE_HOSTNAME=$(cat /etc/hostname) \
    JANUS_EDGE_API_TOKEN=$(cat ${CREDENTIALS_DIRECTORY}/janus-edge-api-token) \
    /usr/bin/octoprint serve \
    --host 127.0.0.1 \
    --port 5001"
Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
