[Unit]
Description=Janus WebRTC Gateway
After=network.target janus-gateway-creds.service
Wants=network.target janus-gateway-creds.service

[Service]
Type=simple
SyslogIdentifier=janus-gateway
ExecStart=/bin/bash -c "JANUS_ADMIN_SECRET=$(cat ${CREDENTIALS_DIRECTORY}/janus-edge-admin-secret) \
    JANUS_SERVER_NAME=$(cat /etc/hostname) \
    janus-envsubst-on-templates; \
    /usr/bin/janus"
ExecStartPost=sleep 20
ExecStartPost=janus-add-token
Restart=always
RestartSec=60
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
