[Unit]
Description=Janus WebRTC Gateway

[Service]
Type=simple
SyslogIdentifier=janus-gateway
ExecStart=/usr/bin/janus-creds-generator

[Install]
WantedBy=multi-user.target
