[Unit]
Description=Janus WebRTC Gateway
After=network-online.target nss-lookup.target avahi-daemon.service
Wants=network-online.target nss-lookup.target avahi-daemon.service

[Service]
Type=simple
SyslogIdentifier=janus-gateway
ExecStart=/usr/bin/janus
Restart=always
RestartSec=60
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
