[Unit]
Description=PrintNanny Settings Repo
Before=multi-user.target
After=printnanny-init.service
Wants=printnanny-init.service
StartLimitInterval=60
StartLimitBurst=3
ConditionPathExists=!/home/printnanny/.config/printnanny/vcs

[Service]
Type=simple
SyslogIdentifier=printnanny-settings
ExecStart=/usr/bin/printnanny -vv settings clone
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
