[Unit]
Description=PrintNanny OS Initialization service
After=cloud-init.target home.mount
Requires=cloud-init.target home.mount

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=printnanny-init
ExecStart=/usr/bin/printnanny -vv init
Restart=on-failure
RestartSec=1
User=printnanny
