[Unit]
Description=PrintNanny Message of the Day
Before=multi-user.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
SyslogIdentifier=printnanny-motd
ExecStart=/bin/bash -c "/usr/bin/printnanny os motd > /etc/motd"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target printnanny-online.target
