[Unit]
Description=PrintNanny NATS worker
After=network-online.target home.mount
Wants=network-online.target
Requires=home.mount
PartOf=printnanny-online.target
StartLimitInterval=60
StartLimitBurst=3


[Service]
Type=simple
SyslogIdentifier=printnanny-nats
ConfigurationDirectory=printnanny.d
StateDirectory=printnanny printnanny/data printnanny/creds printnanny/recovery printnanny/printnanny.d
LogsDirectory=printnanny

RuntimeDirectory=printnanny-edge-nats
Environment=PRINTNANNY_GST_CONFIG=/var/run/printnanny-edge-nats/printnanny-gst.toml
ExecStart=/bin/bash -c '/usr/bin/printnanny -v nats-edge-worker --subject="pi.$(hostname).>" --hostname $(hostname)'
Restart=on-failure
RestartSec=10
User=printnanny
SupplementaryGroups=printnanny-admin


[Install]
WantedBy=multi-user.target
