[Unit]
Description=PrintNanny NATS worker
After=network-online.target
Wants=network-online.target
Requires=etc-printnanny.mount
PartOf=printnanny-online.target

[Service]
Type=simple
SyslogIdentifier=printnanny-nats
RuntimeDirectory=printnanny
ExecStart=/usr/bin/printnanny -v nats-edge-worker --subject="pi.command.>"
Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
