[Unit]
Description=PrintNanny shutdown service hook

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/printnanny -v os shutdown

[Install]
WantedBy=multi-user.target
