[Unit]
Description=Publish GstMultiFileSink messages to NATS topic
After=network-online.target printnanny-init.service printnanny-settings.service
Wants=printnanny-init.service printnanny-settings.service
Requires=home.mount

[Service]
Type=simple
SyslogIdentifier=printnanny-gstmultifile
LogsDirectory=printnanny
RuntimeDirectory=printnanny-gstmultifile
Environment=RUST_LOG=info
ExecStart=/bin/bash -c '/usr/bin/printnanny-nats-gstmultifile -v --hostname $(hostname)'
Restart=on-failure
RestartSec=10
User=printnanny
SupplementaryGroups=printnanny-admin


[Install]
WantedBy=multi-user.target
