[Unit]
Description=PrintNanny NATS worker
After=network-online.target
Wants=network-online.target
Requires=etc-printnanny.mount
PartOf=printnanny-online.target
StartLimitInterval=60
StartLimitBurst=3


[Service]
Type=simple
SyslogIdentifier=printnanny-nats
RuntimeDirectory=printnanny-edge-nats
Environment=PRINTNANNY_GST_CONFIG=/var/run/printnanny/printnanny-edge-nats/printnanny-gst.toml
ExecStart=/bin/bash -c 'touch /var/run/printnanny/printnanny-edge-nats/printnanny-gst.toml && /usr/bin/printnanny -v nats-edge-worker --subject="pi.command.>" --nats-server-uri="nats://localhost:4223"'
Restart=on-failure
RestartSec=10
User=printnanny

[Install]
WantedBy=multi-user.target
