[Unit]
Description=PrintNanny OS Initialization service
Before=multi-user.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=printnanny-init
ExecStart=/usr/bin/printnanny -vv init
Restart=on-failure
RestartSec=10
User=printnanny

[Install]
WantedBy=multi-user.target
