[Unit]
Description=PrintNanny Dashboard
After=network-online.target
Wants=network-online.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
SyslogIdentifier=printnanny-dash
Environment=RUST_LOG=info
ExecStart=/usr/bin/printnanny-dash
Restart=on-failure
RestartSec=10
User=printnanny
