[Unit]
Description=PrintNanny Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
SyslogIdentifier=printnanny-dash
ExecStart=/usr/bin/printnanny-dash
Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
