[Unit]
Description=PrintNanny Cam Service
After=network-online.target printnanny-cloud-sync.service
Wants=network-online.target printnanny-cloud-sync.service 
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
SyslogIdentifier=printnanny-vision
Environment=RUST_LOG=info
Environment=GST_PLUGIN_PATH=/usr/lib/gstprintnanny
Environment=GST_DEBUG=4
Environment=PRINTNANNY_GST_CONFIG=/var/run/printnanny-edge-nats/printnanny-gst.toml
RuntimeDirectory=printnanny-hls
ExecStart=/usr/bin/printnanny-gst-pipeline --config /var/run/printnanny-edge-nats/printnanny-gst.toml
User=printnanny

[Install]
WantedBy=multi-user.target
