[Unit]
Description=PrintNanny Cam Service
After=network-online.target printnanny-cloud-sync.service
Wants=network-online.target printnanny-cloud-sync.service 
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
SyslogIdentifier=printnanny-vision
Environment=RUST_LOG=info
Environment=GST_PLUGIN_PATH=/usr/lib/gstprintnanny
Environment=GST_DEBUG=4
RuntimeDirectory=printnanny-hls printnanny
ExecStart=/usr/bin/printnanny-gst-pipeline --config /var/run/printnanny/printnanny-vision.toml
Restart=on-failure
RestartSec=10
User=printnanny

[Install]
WantedBy=multi-user.target
