[Unit]
Description=Handle GstMultiFileSink messages on gstreamer pipeline bus
After=gstd.service
Wants=gstd.service
StartLimitInterval=60
StartLimitBurst=3
PartOf=printnanny-vision.target

[Service]
Type=simple
SyslogIdentifier=printnanny-file-listener
Environment=RUST_LOG=info
Environment=GST_DEBUG=2
Environment=GSTD_PORT=5002
Environment=PRINTNANNY_SETTINGS=/home/printnanny/.config/printnanny/vcs/printnanny/printnanny.toml
ExecStart=/usr/bin/printnanny -v cam start-multifilesink-listener --http-port="${GSTD_PORT}"
Restart=on-failure
RestartSec=10
User=printnanny

[Install]
WantedBy=multi-user.target
