[Unit]
Description=PrintNanny Cam Service
After=network-online.target janus-gateway.service gstd.service
Wants=janus-gateway.service gstd.service
StartLimitInterval=60
StartLimitBurst=3
PartOf=printnanny-vision.target

[Service]
Type=oneshot
SyslogIdentifier=printnanny-vision
Environment=RUST_LOG=info
Environment=GST_DEBUG=2
Environment=GST_DEBUG_DUMP_DOT_DIR=/var/log/printnanny-vision
Environment=GSTD_PORT=5002
Environment=PRINTNANNY_SETTINGS=/home/printnanny/.config/printnanny/vcs/printnanny/printnanny.toml
RuntimeDirectory=printnanny-hls printnanny-snapshot printnanny-vision
RuntimeDirectoryPreserve=yes
LogsDirectory=printnanny-vision
ExecStart=/usr/bin/printnanny -v cam start-pipelines --http-port="${GSTD_PORT}"
Restart=on-failure
RestartSec=10
User=printnanny
RemainAfterExit=yes
