[Unit]
Description=OctoPrint
After=network.target network-online.target
Wants=network.target network-online.target

[Service]
Type=simple
SyslogIdentifier=octoprint
WorkingDirectory=/etc/octoprint
ExecStart=/usr/bin/octoprint serve --config /etc/octoprint/config.yaml --basedir /etc/octoprint
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
