[Unit]
Description=Create Moonraker virtualenv 
ConditionPathExists=!/opt/moonraker/.venv

[Service]
Type=oneshot
SyslogIdentifier=moonraker-venv
ExecStart=/usr/bin/python3 -m venv --system-site-packages /opt/moonraker/.venv
User=printnanny
[Install]
WantedBy=moonraker.service
