[Unit]
Description=Create Moonraker virtualenv 
ConditionPathExists=!/var/lib/moonraker/.venv

[Service]
Type=oneshot
SyslogIdentifier=moonraker-venv
Environment=MOONRAKER_VENV=/home/printnanny/klipper-venv
ExecStart=/usr/bin/python3 -m venv --system-site-packages "${MOONRAKER_VENV}"
User=printnanny

[Install]
WantedBy=moonraker.service
