[Unit]
Description=Moonraker provides Web API for klipper
Documentation=https://moonraker.readthedocs.io/en/latest/
BindsTo=mainsail.target
After=network.target home.mount moonraker-venv.service klipper.service mainsail.target printnanny-settings.service
Wants=moonraker-venv.service printnanny-settings.service
Requires=home.mount

[Install]
WantedBy=mainsail.target

[Service]
LogsDirectory=moonraker
RuntimeDirectory=klipper moonraker
Environment=MOONRAKER_INSTALL=/home/printnanny/.moonraker
Environment=MOONRAKER_VENV=/home/printnanny/moonraker-venv
Environment=MOONRAKER_DATA_PATH=/home/printnanny/.local/share/moonraker/
Environment=MOONRAKER_LOG=/var/log/moonraker/moonraker.log
Environment=MOONRAKER_CONFIG_FILE=/home/printnanny/.config/printnanny/vcs/moonraker/moonraker.conf
WorkingDirectory=/home/printnanny/.moonraker
Type=simple
SupplementaryGroups=moonraker-admin
User=printnanny
RemainAfterExit=yes
ExecStart=/bin/bash -c "${MOONRAKER_VENV}/bin/python3 /home/printnanny/.moonraker/moonraker/moonraker.py -d ${MOONRAKER_DATA_PATH} -l ${MOONRAKER_LOG} -c ${MOONRAKER_CONFIG_FILE}"
Restart=always
RestartSec=10
