[Unit]
Description=Overlay /home/
Requires=overlays-home-dirs.service
After=overlays-home-dirs.service

[Mount]
What=overlay
Where=/home
Type=overlay
Options=lowerdir=/home,upperdir=/data/overlayfs/home/upper,workdir=/data/overlayfs/home/work

[Install]
WantedBy=local-fs.target
