[Unit]
Description=Resize last partition/fs to fill disk
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
ConditionPathExists=!/etc/bitsy/growfs.done
Before=cloud-init-local.service cloud-init.service cloud-init.target

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=/usr/sbin/bitsy-growfs
