[Unit]
Description=Resize last partition/fs to fill disk
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
ConditionFileNotEmpty=!/etc/bitsy/growfs.done
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=yes | parted ---pretend-input-tty /dev/mmcblk0 resizepart 3 100%
ExecStart=resize2fs /dev/mmcblk0p3
ExecStart=date +%s > /etc/bitsy/growfs.done
