[Unit]
Description=Apply the settings specified in cloud-config
After=network-online.target cloud-config.target
Wants=network-online.target cloud-config.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Reticulating Splines" || echo "psplash-write failed"'
ExecStart=/usr/bin/cloud-init modules --mode=config
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Done Applying User Settings" || echo "psplash-write failed"'
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target multi-user.target

