[Unit]
Description=Initial cloud-init job (pre-networking)

DefaultDependencies=no
Before=sysinit.target
Requires=boot.mount var-lib-cloud.mount
Wants=network-pre.target
After=systemd-remount-fs.service boot.mount var-lib-cloud.mount
Before=network-pre.target systemd-networkd.service
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Applying User Settings" || echo "psplash-write failed"'
ExecStart=/bin/sh -c '/usr/bin/cloud-init-fix-rpi-userdata'
ExecStart=/usr/bin/cloud-init init --local
RemainAfterExit=yes
TimeoutSec=0
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
