[Unit]
Description=Initial cloud-init job (metadata service crawler)
DefaultDependencies=no
Wants=cloud-init-local.service
After=cloud-init-local.service systemd-networkd-wait-online.service boot.mount var-lib-cloud.mount
Before=network-online.target
Before=sshd-keygen.service
Before=sshd.socket

Requires=boot.mount var-lib-cloud.mount

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Configuring Hostname & Network" || echo "psplash-write failed"'
ExecStart=/usr/bin/cloud-init init
RemainAfterExit=yes
TimeoutSec=0
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
