[Unit]
Description=Initial cloud-init job (metadata service crawler)
Wants=cloud-init-local.service
Wants=sshdgenkeys.service
Wants=sshd.socket
After=cloud-init-local.service
Before=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Configuring Hostname & Network" || echo "psplash-write failed"'
ExecStart=/usr/bin/cloud-init init
RemainAfterExit=yes
TimeoutSec=0

StandardOutput=journal

[Install]
WantedBy=cloud-init.target
