[Unit]
Description=Ensure default user in user-data
DefaultDependencies=no
Before=sysinit.target
Wants=network-pre.target
After=systemd-remount-fs.service
Before=network-pre.target
Before=shutdown.target
RequiresMountsFor=/var/lib/cloud

[Service]
Type=oneshot
# goofy hack to ensure user-data is merged
ExecStart=/usr/bin/cloud-init-merge
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
