[Unit]
Description=NATS Server
Documentation=https://nats.io/
After=network.target

[Service]
Type=simple
User=printnanny
SyslogIdentifier=printnanny-nats-server
RemainAfterExit=yes
ExecStart=/usr/bin/nats-server --config /etc/nats-server/nats-server.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
