[Unit]
Description=OctoPrint
After=network-online.target octoprint-venv.service home.mount printnanny-settings.service
Wants=octoprint-venv.service printnanny-settings.service
Requires=home.mount
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
LogsDirectory=octoprint
SyslogIdentifier=octoprint
RuntimeDirectory=octoprint
StateDirectory=octoprint
Environment=OCTOPRINT_BASEDIR=/home/printnanny/.octoprint
Environment=OCTOPRINT_VENV=/home/printnanny/octoprint-venv
Environment=OCTOPRINT_CONFIG=/home/printnanny/.config/printnanny/vcs/octoprint/octoprint.yaml
Environment=OCTOPRINT_PORT=5001
ExecStartPre=/bin/bash -c '"${OCTOPRINT_VENV}/bin/python" -m pip install --upgrade pip setuptools==67.6.2'
ExecStart=/bin/bash -c '"${OCTOPRINT_VENV}/bin/python" -m octoprint serve \
    --host 127.0.0.1 \
    --config "${OCTOPRINT_CONFIG}" \
    --port "${OCTOPRINT_PORT}"'
Restart=on-failure
RestartSec=10
IOSchedulingClass=realtime
User=printnanny

[Install]
WantedBy=multi-user.target
