[Unit]
Description=Symlink credentials used by OctoPrint
Before=octoprint.service
[Service]
Type=simple
SyslogIdentifier=octoprint-link
ExecStart=/usr/bin/octoprint-link-confd

[Install]
WantedBy=octoprint.service
