[Unit]
Description=Create OctoPrint virtualenv 
After=network.target home.mount
Requires=home.mount

[Service]
Type=oneshot
SyslogIdentifier=octoprint-venv
Environment=OCTOPRINT_VENV=/home/printnanny/octoprint-venv
ExecStart=/bin/bash -c '/usr/bin/python3 -m venv --system-site-packages "${OCTOPRINT_VENV}" && echo "Created new virtual env: ${OCTOPRINT_VENV}" || "Skipping virtual env creation, ${OCTOPRINT_VENV} already exists"'
ExecStart=/usr/bin/python3 -m venv --system-site-packages --upgrade "${OCTOPRINT_VENV}"
User=printnanny

[Install]
WantedBy=octoprint.service
