[Unit]
Description=OctoPrint
After=network-online.target octoprint-venv.service
Wants=network-online.target octoprint-venv.service
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
SyslogIdentifier=octoprint
RuntimeDirectory=octoprint
ExecStart=/bin/bash -c "{OCTOPRINT_VENV}/bin/python -m octoprint serve \
    --host 127.0.0.1 \
    --config {OCTOPRINT_BASEDIR}/config.yaml \
    --port {OCTOPRINT_PORT}"
Restart=on-failure
RestartSec=10
IOSchedulingClass=realtime
User={OCTOPRINT_USER}

[Install]
WantedBy=multi-user.target
