[Unit]
Description=Create OctoPrint virtualenv 
ConditionPathExists=!{OCTOPRINT_VENV}

[Service]
Type=oneshot
SyslogIdentifier=octoprint-venv
ExecStart=/usr/bin/python3 -m venv --system-site-packages {OCTOPRINT_VENV}
User={OCTOPRINT_USER}
[Install]
WantedBy=octoprint.service
