[Unit]
Description=Create OctoPrint virtualenv 
ConditionPathExists=!/home/printnanny/octoprint-venv

[Service]
Type=oneshot
SyslogIdentifier=octoprint-venv
Environment=OCTOPRINT_VENV=/home/printnanny/octoprint-venv
ExecStart=/usr/bin/python3 -m venv --system-site-packages "${OCTOPRINT_VENV}"
User=printnanny
[Install]
WantedBy=octoprint.service
