[Unit]
Description=OctoPrint
After=network-online.target octoprint-setup.target
Wants=network-online.target octoprint-setup.target

[Service]
Type=simple
SyslogIdentifier=octoprint
ExecStart=/bin/bash -c "JANUS_EDGE_HOSTNAME=$(cat /etc/hostname) \
    JANUS_EDGE_API_TOKEN=$(cat %d/janus-edge-api-token) \
    {OCTOPRINT_VENV}/bin/python -m octoprint serve \
    --host 127.0.0.1 \
    --config {OCTOPRINT_BASEDIR}/config.yaml \
    --port {OCTOPRINT_PORT}"
Restart=on-failure
RestartSec=30
User={OCTOPRINT_USER}

[Install]
WantedBy=multi-user.target
