[Unit]
Description=PrintNanny MQTT Client
After=network.target cloud-config.target
Wants=network.target cloud-config.target
PartOf=printnanny-online.target
ReloadPropagatedFrom=printnanny-online.target

[Service]
Type=simple
SyslogIdentifier=printnanny-mqtt
RuntimeDirectory=printnanny
ExecStart=/usr/bin/printnanny -v event subscribe
Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
