[Unit]
Description=PrintNanny NATS worker
After=network-online.target printnanny-cloud-sync.service etc-printnanny.mount
Wants=network-online.target printnanny-cloud-sync.service
Requires=etc-printnanny.mount
PartOf=printnanny-online.target

[Service]
Type=simple
SyslogIdentifier=printnanny-nats
RuntimeDirectory=printnanny
ExecStart=/usr/bin/printnanny -v nats-worker
Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
