[Unit]
Description=PrintNanny License Service
After=network-online.target systemd-networkd-wait-online.service cloud-init.target printnanny-keys.service
Wants=network-online.target systemd-networkd-wait-online.service cloud-init.target printnanny-keys.service
PartOf=printnanny-online.target
ReloadPropagatedFrom=printnanny-online.target
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=printnanny-license

ExecStart=/usr/bin/printnanny -v check-license
ExecStart=/usr/bin/printnanny-link-confd
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Starting PrintNanny Services" || echo "psplash-write failed"'
Restart=on-failure
RestartSec=60

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
