[Unit]
Description=PrintNanny Dashboard
After=network.target cloud-config.target
Wants=network.target cloud-config.target
PartOf=printnanny-online.target
ReloadPropagatedFrom=printnanny-online.target printnanny.target

[Service]
Type=simple
SyslogIdentifier=printnanny-dash
ExecStart=/bin/bash -c "ROCKET_SECRET_KEY=$(cat ${CREDENTIALS_DIRECTORY}/cookie-secret) \
    ROCKET_CONFIG=/etc/printnanny/dash/Rocket.toml \
    JANUS_EDGE_ADMIN_SECRET_FILE=${CREDENTIALS_DIRECTORY}/janus-edge-admin-secret \
    JANUS_EDGE_API_TOKEN_FILE=${CREDENTIALS_DIRECTORY}/janus-edge-api-token \
    /usr/bin/printnanny-dash"
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
