[Unit]
Description=Setup and synchronize PrintNanny Cloud settings
After=network-online.target systemd-networkd-wait-online.service etc-printnanny.mount
Wants=network-online.target systemd-networkd-wait-online.service
Requires=etc-printnanny.mount
PartOf=printnanny-online.target
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=printnanny-setup
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Applying Configuration" || echo "psplash-write failed"'
ExecStart=/bin/sh -c '/usr/bin/printnanny -v config setup'
ExecStart=/usr/bin/printnanny-link-confd
Restart=on-failure
RestartSec=5
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
