[Unit]
Description=Web Services
Wants=cloud-init.target printnanny-init.service printnanny-cloud-sync.service printnanny-nats.service printnanny-dash.service janus-gateway.service
After=cloud-init.target printnanny-init.service printnanny-cloud-sync.service printnanny-nats.service printnanny-dash.service janus-gateway.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo "💜 PrintNanny is online!"'
ExecStart=/bin/sh -c 'echo "🚀 Open http://$(hostname)/ in your browser"'
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=printnanny-online.target
