[Unit]
Description=PrintNanny Services Online
Wants=cloud-init.target printnanny-setup.service printnanny-mqtt.service printnanny-dash.service janus-gateway.service
After=cloud-init.target printnanny-setup.service printnanny-mqtt.service printnanny-dash.service janus-gateway.service
Conflicts=rescue.service rescue.target

[Install]
WantedBy=multi-user.target
