[Unit]
Description=PrintNanny First Boot Service
After=network-online.target systemd-networkd-wait-online.service cloud-init.target
Wants=network-online.target systemd-networkd-wait-online.service cloud-init.target
PartOf=printnanny-online.target
ReloadPropagatedFrom=printnanny-online.target
StartLimitIntervalSec=1d
StartLimitBurst=5
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=printnanny-setup
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Generating machine identity" || echo "psplash-write failed"'
ExecStart=/bin/sh -c '/usr/bin/printnanny config generate-keys --output="/etc/printnanny/keys" || echo "Skipping key generation, keys already in /etc/printnanny/keys"'
ExecStart=/usr/bin/printnanny-link-confd
ExecStart=/usr/bin/printnanny -v check-license
Restart=on-failure
RestartSec=5
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
