[Unit]
Description=Web Services
Requires=printnanny-online.target
After=printnanny-online.target

[Service]
Type=oneshot
ExecStart=echo "💜 PrintNanny is online!"
ExecStart=echo "🚀 Open http://$(hostname)/ in your browser"
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
