[Unit]
Description=PrintNanny Cam Service
After=network-online.target printnanny-cloud-sync.service
Wants=network-online.target printnanny-cloud-sync.service 

[Service]
Type=simple
SyslogIdentifier=printnanny-vision
ExecStart=/usr/local/bin/printnanny-gst-vision

Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
