[Unit]
Description=PrintNanny Dashboard
After=network-online.target printnanny-setup.service printnanny-creds.service etc-printnanny.mount
Wants=network-online.target printnanny-setup.service printnanny-creds.service
Requires=etc-printnanny.mount
PartOf=printnanny-online.target

[Service]
Type=simple
SyslogIdentifier=printnanny-dash
ExecStart=/bin/bash -c "ROCKET_SECRET_KEY=$(cat ${CREDENTIALS_DIRECTORY}/cookie-secret) \
    ROCKET_CONFIG=/etc/printnanny/dash/Rocket.toml \
    JANUS_EDGE_ADMIN_SECRET_FILE=${CREDENTIALS_DIRECTORY}/janus-edge-admin-secret \
    JANUS_EDGE_API_TOKEN_FILE=${CREDENTIALS_DIRECTORY}/janus-edge-api-token \
    /usr/bin/printnanny -vv dash"
Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
