[Unit]
Description=PrintNanny License Service
After=network-online.target cloud-final.service
Wants=network-online.target cloud-final.service
PartOf=printnanny-online.target
ReloadPropagatedFrom=printnanny-online.target
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=printnanny-license
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Checking License" || echo "psplash-write failed"'
ExecStart=/bin/sh -c '/usr/bin/printnanny config generate-keys --output="/etc/printnanny/keys" || echo "Skipping key generation, keys already in /etc/printnanny/keys"'
ExecStart=/usr/bin/printnanny -v check-license
ExecStart=/usr/bin/printnanny-link-confd
ExecStart=/bin/sh -c '/usr/bin/psplash-write "MSG Starting PrintNanny Services" || echo "psplash-write failed"'
Restart=on-failure
RestartSec=60

StandardOutput=journal+console

[Install]
WantedBy=printnanny-online.target
