[Unit]
Description=Sync Video Recording with id=%i
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
Restart=on-failure
RestartSec=10
User=printnanny
ExecStart=/usr/bin/printnanny cloud sync-video-recordings --id=%i

[Install]
WantedBy=multi-user.target