[Unit]
Description=Synchronize PrintNanny Cloud settings
After=printnanny-init.service systemd-timesyncd.service home.mount
Wants=printnanny.init.service
Requires=home.mount
StartLimitIntervalSec=10m
StartLimitBurst=5

BindsTo=printnanny-cloud.target
After=printnanny-cloud.target

[Service]
Type=oneshot
RemainAfterExit=yes
ConfigurationDirectory=printnanny.d
StateDirectory=printnanny
LogsDirectory=printnanny

SyslogIdentifier=printnanny-cloud-sync
ExecStart=/usr/bin/printnanny -v cloud sync-models
Restart=on-failure
RestartSec=60
User=printnanny

[Install]
WantedBy=printnanny-cloud.target
