[Unit]
Description=Synchronize PrintNanny Cloud settings
After=printnanny-cloud-nats.service systemd-timesyncd.service home.mount
Wants=printnanny-cloud-nats.service
Requires=home.mount
StartLimitIntervalSec=1d
StartLimitBurst=5

BindsTo=printnanny-cloud.target
After=printnanny-cloud.target

[Service]
Type=oneshot
RemainAfterExit=yes
ConfigurationDirectory=printnanny.d
StateDirectory=printnanny
LogsDirectory=printnanny

SyslogIdentifier=printnanny-cloud-sync
ExecStart=/bin/sh -c '/usr/bin/printnanny -v config sync || /usr/bin/printnanny -v nats-cloud-publisher pi.{pi_id}.status.boot --event-type=sync-settings-error && /usr/bin/printnanny -v nats-publisher pi.{pi_id}.status.boot --event-type=sync-settings-success'
Restart=on-failure
RestartSec=60
User=printnanny

[Install]
WantedBy=printnanny-cloud.target
