[Unit]
Description=PrintNanny Cloud NATS worker
After=network-online.target home.mount printnanny-init.service printnanny-settings.service
Wants=network-online.target printnanny-init.service printnanny-settings.service
Requires=home.mount
StartLimitInterval=60
StartLimitBurst=3

BindsTo=printnanny-cloud.target
After=printnanny-cloud.target

[Service]
Type=simple
SyslogIdentifier=printnanny-cloud-nats
ExecStart=/usr/bin/printnanny -v nats-cloud-worker
StateDirectory=printnanny printnanny/data printnanny/creds printnanny/recovery printnanny/printnanny.d
ConfigurationDirectory=printnanny.d
StateDirectory=printnanny
LogsDirectory=printnanny
RuntimeDirectory=printnanny

Restart=on-failure
RestartSec=10
User=printnanny

[Install]
WantedBy=printnanny-cloud.target
