[Unit]
Description=Sent boot status report
Wants=printnanny-online.target
After=printnanny-online.target
# When systemd stops or restarts the printnanny-cloud.service, the action is propagated to this unit
PartOf=printnanny-cloud.service
# Start this service unit after the printnanny-cloud.service start
After=printnanny-cloud.service

[Service]
Type=oneshot
ExecStart=/usr/bin/printnanny-boot-report
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

# Output needs to appear in instance console output
StandardOutput=journal
