[Unit]
Description=Sent boot status report
Wants=printnanny-init.service
After=printnanny-init.service
# When systemd stops or restarts the printnanny-cloud.service, the action is propagated to this unit
PartOf=printnanny-cloud.service
# Start this service unit after the printnanny-cloud.service start
After=printnanny-cloud.service
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/printnanny-boot-report
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

# Output needs to appear in instance console output
StandardOutput=journal
