[Unit]
Description=systemd unit to group all PrintNanny Cloud services

[Service]
Wants=printnanny-cloud-nats.service printnanny-cloud-sync.service

[Install]
WantedBy=multi-user.target
Also=printnanny-cloud-nats.service printnanny-cloud-sync.service
