[Unit]
Description=Synchronize PrintNanny Cloud settings
After=printnanny-init.service home.mount network-online.target ntp-wait.service
Wants=printnanny.init.service network-online.target
Requires=home.mount

BindsTo=printnanny-cloud.target
After=printnanny-cloud.target

[Service]
Type=oneshot
RemainAfterExit=yes
ConfigurationDirectory=printnanny.d
StateDirectory=printnanny
LogsDirectory=printnanny

SyslogIdentifier=printnanny-cloud-sync
ExecStart=/usr/bin/printnanny -v cloud sync-models
Restart=on-failure
RestartSec=10
User=printnanny
RestartSteps=10
RestartMaxDelaySec=10m

[Install]
WantedBy=printnanny-cloud.target printnanny-online.target
