[Unit]
Description=PrintNanny Cloud

[Service]
# Dummy service unit
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/psplash-write "PrintNanny is starting" || echo "psplash-write failed"'
ExecStart=/bin/sh -c '/usr/bin/printnanny -v config init'
ExecStart=/bin/sh -c '/usr/bin/printnanny -v nats-publisher pi.{pi_id}.status.boot --event-type=boot-started'
ExecStart=/bin/sh -c '/usr/bin/printnanny -v nats-publisher pi.{pi_id}.status.boot --event-type=sync-settings-started'
ExecStart=/bin/sh -c '/usr/bin/printnanny -v config sync || /usr/bin/printnanny -v nats-publisher pi.{pi_id}.status.boot --event-type=sync-settings-error && /usr/bin/printnanny -v nats-publisher pi.{pi_id}.status.boot --event-type=sync-settings-success'
ExecStart=/usr/bin/printnanny-boot-report

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target