[Unit]
Description=PrintNanny NATS worker
After=network-online.target printnanny-init.service etc-printnanny.mount
Wants=network-online.target printnanny-init.service
Requires=etc-printnanny.mount
PartOf=printnanny-online.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
SyslogIdentifier=printnanny-nats
RuntimeDirectory=printnanny
ExecStart=/usr/bin/printnanny -v nats-worker
Restart=on-failure
RestartSec=10
User=printnanny

[Install]
WantedBy=multi-user.target
