[Unit]
Description=PrintNanny Gstreamer Pipeline
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
SyslogIdentifier=printnanny-gst
RuntimeDirectory=printnanny
EnvironmentFile=-/var/run/printnanny/printnanny-gst-vision.conf
ExecStart=/usr/bin/printnanny-gst-pipeline
Restart=on-failure
RestartSec=30
User=printnanny

[Install]
WantedBy=multi-user.target
