[Unit]
Description=Starts Klipper and provides klippy Unix Domain Socket API
Documentation=https://www.klipper3d.org/
BindsTo=mainsail.target
After=network.target mainsail.target
Before=moonraker.service
Wants=udev.target

[Install]
Alias=klippy
WantedBy=mainsail.target

[Service]
LogsDirectory=klipper
RuntimeDirectory=klipper
Environment=KLIPPER_CONFIG=/var/lib/klipper/.config/printer.cfg
Environment=KLIPPER_LOG=/var/log/klipper/klippy.log
Environment=KLIPPER_SOCKET=/var/run/klipper/klippy_uds
Type=simple
User=printnanny
RemainAfterExit=yes
StateDirectory=klipper

ExecStart= /var/lib/klipper/.venv/python3 /var/lib/klipper/klippy/klippy.py ${KLIPPER_CONFIG} -l ${KLIPPER_LOG} -a ${KLIPPER_SOCKET}
Restart=always
RestartSec=10
