[Unit]
Description=Starts Klipper and provides klippy Unix Domain Socket API
Documentation=https://www.klipper3d.org/
BindsTo=mainsail.target
After=network.target cloud-init.target printnanny-settings.service
Before=moonraker.service
Wants=udev.target cloud-init.target printnanny-settings.service

[Install]
Alias=klippy.service
WantedBy=mainsail.target

[Service]
LogsDirectory=klipper
RuntimeDirectory=klipper
Environment=KLIPPER_INSTALL=/home/printnanny/.klipper
Environment=KLIPPER_VENV=/home/printnanny/klipper-venv
Environment=KLIPPER_CONFIG=/home/printnanny/.config/printnanny/vcs/klipper/printer.cfg
Environment=KLIPPER_LOG=/var/log/klipper/klippy.log
Environment=KLIPPER_SOCKET=/var/run/klipper/klippy.sock
Type=simple
User=printnanny
StateDirectory=klipper
ExecStartPre=/bin/bash -c 'Init virtual env: ${KLIPPER_VENV}" && /usr/bin/python3 -m venv --system-site-packages "${KLIPPER_VENV}" && echo "Created new virtual env: ${KLIPPER_VENV}" || "Skipping virtual env creation, ${KLIPPER_VENV} already exists"'
ExecStartPre=/usr/bin/python3 -m venv --system-site-packages --upgrade "${KLIPPER_VENV}"
ExecStart=/bin/bash -c "${KLIPPER_VENV}/bin/python3 ${KLIPPER_INSTALL}/klippy/klippy.py ${KLIPPER_CONFIG} -l ${KLIPPER_LOG} -a ${KLIPPER_SOCKET}"
Restart=on-failure
RestartSec=10
