[Unit]
Description=systemd unit to group all Mainsail, Moonraker, Klipper services
Wants=klipper.service moonraker.service

[Install]
Also=klipper.service moonraker.service
WantedBy=multi-user.target
