[Unit]
Description=systemd unit to group all Mainsail, Moonraker, Klipper services

[Service]
Wants=klipper.service moonraker.service

[Install]
WantedBy=multi-user.target
Also=klipper.service moonraker.service
